$font-stack: "Trebuchet MS", Arial, sans-serif;
$light-color: #FFC300;
$primary-color: #000814;
$secondary-color: #a2d0fc;


// navigation styles
$primary-color: #3498db;
$secondary-color: #2ecc71;
$nav-background: #333;
$nav-text-color: #fff;
$nav-hover-background: #444;
$nav-hover-text-color: #fff;
